@{
    ViewData["Title"] = "Inicio";
}

<div style="height:100vh"; class="d-flex flex-column align-items-center justify-content-center text-light">

  <h1> Escolha a sua API e divirta-se </h1>

  

</div>
