@model EnderecoModel


<div style="height:100vh" ; class="d-flex flex-column align-items-center justify-content-center">

    <div style="background-image:linear-gradient(#a6a6a6, #ffff);" class="d-flex flex-column align-items-center
    justify-content-start p-5 rounded">

        <h1 style="color: #051130; font-weight:600; " class="display-4 mb-3">Buscador de CEP</h1>

        <form method="get" asp-controller="Endereco" asp-action="EnderecoInfo" role="form">

            <input asp-for="Cep" name="cep" style="width:340px; padding:7.2px 9px; margin-right:4px; font-size:18px" class="my-4 rounded"  placeholder="Digite seu CEP" />

            <button class="p-2 rounded text-light border-0" style="font-size:19px; font-weight:bolder" type="submit"  value="Cep"> Buscar  </button>
        </form>

    </div>



</div>
